<div class="todos">
    <form (submit)="addToDo()">
        <input 
            type="text"
            name="toDoName"
            placeholder="Name of ToDo..."
            [(ngModel)] = "toDoName"
        >
        <input 
            type="text"
            name="toDoDescription"
            placeholder="Description of ToDo..."
            [(ngModel)] = "toDoDescription"
        >
        <input 
            type="date" 
            name="toDoDeadline"
            [(ngModel)] = "toDoDeadline"   
            [ngModel]="toDoDeadline | date: 'yyyy-MM-dd'">
        <input 
            type="submit" 
            value="Add ToDo" 
            [disabled]="toDoName == '' || toDoDescription == ''">
    </form>
    <div *ngFor="let todo of todos; let i = index" 
    class="todo {{todo.finished ? 'done' : ''}}" >
        <div class="name" (click)="markToDo(i)">{{ todo.name }}</div>
        <div class="description" (click)="markToDo(i)">{{ todo.description }}</div>
        <div *ngIf="todo.deadline" class="date" (click)="markToDo(i)">{{ todo.deadline }}</div>
        <button class="delete" (click)="deleteToDo(i)">Remove</button>
    </div>
</div>
